table {
    width: calc(50vw + 188px);
    height: 426px;
    border-collapse: collapse;
}

td {
    vertical-align: top;
}

ul {
    padding: 0px;
    margin-left: 10px;
    list-style-position: inside;
    list-style-type: disc;
    font-family: sans-serif;
    color: black;
    font-weight: normal;
}

p {
    padding-left: 20px;
    font-size: 0.9em;
}

.aside>p {
    padding-left: 10px;
    font-size: 1em;
}

h1 {
    font-size: 1.4em;
    padding-left: 250px;
}

img {
    width: 200px;
    margin: 57px 20px 20px 20px;
    float: left;
}

.header {
    height: 44px;
}

.footer {
    height: 65px;
}

.header,
.footer {
    background-color: #add8e6;
    text-align: center;
    color: #0000FF;
    font-variant: small-caps;
    font-family: sans-serif;
    font-size: 1.8em;
    vertical-align: middle;
}

.content {
    font-family: sans-serif;
    color: black;
    background-image: url("ball.jpg");
    background-position: top right;
    background-repeat: repeat-y;
}

.aside {
    width: 188px;
    padding-top: 20px;
    background-color: #f0e68c;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.9em;
}
