.wrapper {
    width: 90vw;
    height: 40vw;
    position: absolute;
    padding: 2vw;
    margin: 0;
    text-align: center;
    background-image: url(wood1.jpg);
    background-size: cover;
    font-family: cursive;
}

label {
    display: inline-block;
    width: 28vw;
    height: 6vw;
    padding-top: 1vw;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
}

label:hover {
    background-color: rgba(250, 250, 250, .6)
}

.list {
    width: 90vw;
    margin: 2vw;
    position: absolute;
    left: 0;
    top: 12vw;
    opacity: 0;
    -webkit-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

.table {
    width: 28vw;
    height: 25vw;
    padding-top: 2vw;
    overflow: hidden;
    display: inline-block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.table div {
    width: 28vw;
    height: 8vw;
    font-size: 3vw;
    line-height: 1em;
    background-color: white;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.table:hover div {
    opacity: 1;
    z-index: 2;
}

.table:hover {
    background-color: rgba(250, 250, 250, .3);
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}

img {
    width: 95%;
}


input[type=radio] {
    display: none;
}

#menu1:checked~.list:nth-of-type(1) {
    opacity: 1;
    z-index: 1;
}

#menu2:checked~.list:nth-of-type(2) {
    opacity: 1;
    z-index: 1;
}

#menu3:checked~.list:nth-of-type(3) {
    opacity: 1;
    z-index: 1;
}

#menu1:checked~label:nth-of-type(1) {
    outline: 1px solid white;
}

#menu2:checked~label:nth-of-type(2) {
    outline: 1px solid white;
}

#menu3:checked~label:nth-of-type(3) {
    outline: 1px solid white;
}

@media screen and (max-width: 630px) {
    label {
        font-size: 4vw;
    }
    .table div {
        font-size: 3vw;
    }
}

@media screen and (max-width: 450px) {
    .wrapper {
        height: 175vw;
        margin: 0;
    }
    .table {
        display: block;
        width: 90%;
        height: 50vw;
        margin: auto;

    }
    .table div {
        width: 100%;
        height: 12vw;
        font-size: 5vw;
    }
    .list {
        text-align: center;

    }
    label {
        font-size: 4vw;
        width: 30%;
        height: 9vw;
        margin: 0;
    }
}

@media screen and (max-width: 320px) {
    .wrapper {
        height: 210vw;
        margin: 0;
    }
    .table {
        display: block;
        width: 80%;
        margin: auto;
    }
    .table div {
        font-size: 5vw;
    }
    .list {
        top: auto;
    }
    label {
        width: inherit;
        height: 11vw;
        font-size: 7vw;
        margin: 2vw 0;
    }
    #menu1:checked~label:nth-of-type(1) {
        outline: 2px solid white;
    }
    #menu2:checked~label:nth-of-type(2) {
        outline: 2px solid white;
    }
    #menu3:checked~label:nth-of-type(3) {
        outline: 2px solid white;
    }
}