.square {
  background-color: blue;
  transition: all 2s;
  width: 40vw;
  height: 40vw;
  position: absolute;
}
.square:nth-of-type(1),.square:nth-of-type(2) {
  top: 0;
}
.square:nth-of-type(2),.square:nth-of-type(4) {
  left: 40vw;
}
.square:nth-of-type(3),.square:nth-of-type(4) {
  top: 40vw;
}
@media screen and (max-width: 320px) {
  .square {
    outline: 1px solid transparent; 
    background-color: red;
    border-radius: 50%;
  }
}

@media screen and (min-width: 321px) and (max-width: 640px) {
  .square {
      
    background-color: transparent;
    outline: 10px solid green;
    width: 30vw;
    height: 30vw;
  }
}