ul>li {
    display: inline-block;
    list-style-type: none;
    font-family: "untitled-font-1";
    padding-right: 20px;
}

li:nth-of-type(1):before {
    content: "a";
    display: inline-block;
    position: relative;
    left: -5px;
    top: 1px;
}

ul>li:not(:last-of-type):after {
    content: " |";
    display: inline-block;
    position: relative;
    left: 12px;
}