.table {
    width: 80vmin;
    height: 80vmin;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 4vmin;
}
.row {
    height: calc(80vmin / 10);
    
}
.sq {
    height: calc(80vmin / 10);
    width: calc(80vmin / 10);
    outline: 0.01vmin solid rgba(68,57,55,0.7);
    float: left;
}
.dark {
    background-color: rgba(99,84,82,0.7);
}
.tour {
    background-image: url(chess.png);
    background-repeat: no-repeat;
    background-size: calc(300vmin / 6);
    width: calc(80vmin / 10);
    height: calc(80vmin / 10);
    background-position: 40% 104%;
}
.tour2 {
    background-image: url(chess.png);
    background-repeat: no-repeat;
    width: calc(80vmin / 10);
    height: calc(80vmin / 10);
    background-size: calc(300vmin / 6);
    background-position: 40% 0%;
}
.horse {
  background-image: url(chess.png);
    background-repeat: no-repeat;
    width: calc(80vmin / 10);
    height: calc(80vmin / 10);
    background-position: 83% 104%;
    background-size: calc(300vmin / 6);
}
.horse2 {
  background-image: url(chess.png);
    background-repeat: no-repeat;
    width: calc(80vmin / 10);
    height: calc(80vmin / 10);
    background-position: 83% 0%;
    background-size: calc(300vmin / 6);
}
.of {
   background-image: url(chess.png);
    background-repeat: no-repeat;
    width: calc(80vmin / 10);
    height: calc(80vmin / 10);
    background-position: 61% 104%;
     background-size: calc(300vmin / 6);
}
.of2 {
   background-image: url(chess.png);
    background-repeat: no-repeat;
    width: calc(80vmin / 10);
    height: calc(80vmin / 10);
    background-position: 61% -2%; 
     background-size: calc(300vmin / 6);
}
.queen {
  background-image: url(chess.png);
    background-repeat: no-repeat;
    width: calc(80vmin / 10);
    height: calc(80vmin / 10);
    background-position: 19% 104%;
     background-size: calc(300vmin / 6);
}
.queen2 {
  background-image: url(chess.png);
    background-repeat: no-repeat;
    width: calc(80vmin / 10);
    height: calc(80vmin / 10);
    background-position: 19% 0%;
     background-size: calc(300vmin / 6);
}
.king {
    background-image: url(chess.png);
    background-repeat: no-repeat;
    width: calc(80vmin / 10);
    height: calc(80vmin / 10);
    background-position: -2% 104%; 
     background-size: calc(300vmin / 6);
}
.king2 {
    background-image: url(chess.png);
    background-repeat: no-repeat;
    width: calc(80vmin / 10);
    height: calc(80vmin / 10);
    background-position: -2% 0%;
     background-size: calc(300vmin / 6);
}
.pesh {
    background-image: url(chess.png);
    background-repeat: no-repeat;
    width: calc(80vmin / 10);
    height: calc(80vmin / 10);
    background-position: 104% 104%;
     background-size: calc(300vmin / 6);
}
.pesh2 {background-image: url(chess.png);
    background-repeat: no-repeat;
    width: calc(80vmin / 10);
    height: calc(80vmin / 10);
    background-position: 104% 0%;
    background-size: calc(300vmin / 6);
}